 #dogthingscategoryselection {
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
}

.dogthingscategory {
  flex: 1 1 0px;
  max-width: 10em;
  margin: 0.25em;
  padding: 0.25em;
  color: white;
  border-radius: 0.25em;
  box-shadow: 0.125em 0.125em 0em 0em gray;
  text-align: center;
}

.dogthingscategory a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

#dogthingsmuzzles {
  background-color: #1473c2;
}

#dogthingsimagemuzzles {
  height: 9em;
  width: 9em;
  margin-top: .25em;
}